// System Clock
IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// MPU6050 I2C Pins
IO_LOC  "i2c_sda" 25;
IO_PORT "i2c_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "i2c_scl" 26;
IO_PORT "i2c_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// Safety Sensor Inputs
IO_LOC  "flame_in" 27;
IO_PORT "flame_in" IO_TYPE=LVCMOS33;
IO_LOC  "mq2_in" 28;
IO_PORT "mq2_in" IO_TYPE=LVCMOS33;
IO_LOC  "seat_in" 29;
IO_PORT "seat_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// GPS Module (NEO-6M)
IO_LOC  "gps_rx" 31;      // Wire this to GPS TX pin
IO_PORT "gps_rx" IO_TYPE=LVCMOS33;

// GSM Module (SIM800L)
IO_LOC  "gsm_tx" 32;      // Wire this to GSM RX pin
IO_PORT "gsm_tx" IO_TYPE=LVCMOS33;
IO_LOC  "gsm_rx" 33;      // Wire this to GSM TX pin
IO_PORT "gsm_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;